@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

h1{
    color:black;
    padding: 0%;
    margin-bottom: 1%;
    align-items: flex-start;
    
    
}

#titulo{
    color: #fff;
}

body{
    margin: 0%;
    padding: 0%;
    
    
    background-color: rgb(249, 243, 233);
}

li{
    display: inline-block;
    text-align: center;
}

a{
    padding: 1px;
    margin: 15px;
    text-decoration:none;
}
    

header{
    position:fixed;
    top:0%;
    left: 0%;
    right: 0%;
    background-color: #fff;
    text-align:right;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

.formulario{
    margin-top: 8%;
}

.margenDerecho{
    margin-right: 50px;
}

.logoPrueba{
    position:fixed;
    top:0%;
    left: 0%;
    right: 0%;
    height: auto;
    width: auto;
    max-width: 220px;
    max-height: 50px;
    text-align: justify;
    padding-left: 35px;
    padding-top: 8px;
}


.tuBanco{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: larger;
}

.parrafo{
    font-family:'Dancing Script', cursive;
}

footer{
    display:flex;
    flex-direction: row;
    justify-content:space-between;

    
}

.programa{
    
    padding: 8px;
    background-color: black;
    color: #fff;
    border: 3px solid blueviolet
       
}

#finanzasFooter{
    
    display: block;
    margin-bottom: 20px;
    text-align: center;

}

#main{
    background-image: url(../img/office\ notebook.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 368px; 
    background-size:100%;
    margin-top: 70px;
    padding-top: 5px;
    padding-right: 200px;
    

}

.mmain{
    text-align: center;
    margin-top: 70px;
}

.pHome{
    color: #fff;
    
}

.divHome{
    margin-left: 18%;
}

.imgNosotros{
    display: flex;
    margin-top: 120px;
}

.figcaptionNosotros{
    text-align: left;
    margin-left: 130px;

}

.h1Nosotros{
    text-align: left;
}

.pNosotros{
    text-align: left;
}

.containerNosotros{
    padding-top: 80px;
    margin-left: 25px;
}

.sect{
    display: flex;
}

.textoPrueba{
    text-align: center;
}

.fa-facebook{
    font-size:x-large;
}

.fa-twitter{
    font-size:x-large;
}

.fa-instagram{
    font-size:x-large;
}

.fa-whatsapp{
    font-size:x-large;
}

.fa-youtube{
    font-size:x-large;
}

#indexFooter{
    display: flex;
    margin-top: 30px;
    gap: 20px ;
    justify-content: center;
}

.redes{
    text-align: center;
}

#servicios{
    display: flex;
    justify-content: space-around;
    margin-top: 130px;

}

.servicios{
    background-color: rgb(201, 188, 165);
    height: 380px;
    width: 300px;
    border-radius: 5px;
    color:#fff;
    text-align: center;

}

.separador{
margin-top: -32px;
}

.primerP{
    margin-top: 19px;
}

#pContabilidad{
 margin-top: 67px;
 padding-left: 15px;
 padding-right: 15px;
}

.paddingP{
    padding-left: 15px;
    padding-right: 15px;
}

#pLaboral{
    margin-top: 67px;
}

.grilla{ 
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'Header Header Header'
    'Menu Main Aside'
    'Footer Footer Footer';
    background-color: red;
}

.grilla div{
    color:#fff;
    border: 1px solid black;
    text-align: center;
}

 .item1{ 
    grid-area: Header;
}


